<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta name="msvalidate.01" content="96D856B0A66230CC6C33FB1B470DDC8E" />
    <meta name="p:domain_verify" content="81c76670598949a28b59da29250ddbe1"/>
    <meta name="p:domain_verify" content="e6c0dd4fdbf34b0596338155992d4e23"/>
    <meta name="google-site-verification" content="q97cSyQymHGiw7sSAVozKoS4FxN_1WlvD2ChDksrICY" />
    <meta name="p:domain_verify" content="e6c0dd4fdbf34b0596338155992d4e23"/>
    <!-- Masonry v3.0.4 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="{{ settings.logo_bg_col }}">
    {% if settings.favicon != blank and settings.favicon contains '.png' %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/png" />
    {% elsif settings.favicon != blank and settings.favicon contains '.ico' %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/x-icon" />
    {% endif %}
      <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
    
	<!-- Resource Hints -->
    <link rel="preconnect dns-prefetch" href="//cdn.shopify.com">
    <link rel="preconnect dns-prefetch" href="//connect.facebook.net">
    <link rel="preconnect dns-prefetch" href="//checkout.getbread.com">
    <link rel="preload" href="{{ 'styles.scss.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'vendor.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
    
    {% include 'opengraph' %}
    {% include 'google-fonts-import' %}
    {{ content_for_header }}
{%- include 'bold-options-hybrid' -%}
   
    {% comment %} Bold:POv2 - Relocated/Updated jQuery. {% endcomment %}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js' | script_tag }}
    {{ '//code.jquery.com/jquery-migrate-1.4.1.js' | script_tag }}    
    {%- include 'bold-product' with product, hide_action: 'header' -%}
    {% include 'bold-common' %}
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    <script>
      document.documentElement.className = ''; //Remove no-js class
      window.theme = window.theme || {};
      theme.money_format = {{ shop.money_format | json }};
      theme.money_container = 'span.theme-money';
      theme.productData = {};
    </script>
    
  {% include 'disable-right-click' %}
    
    <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WH7VWST');</script>
	<!-- End Google Tag Manager -->
    
    <!-- Bing UET Tag - 26054548 -->
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"26054548"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
    
    <!-- Lazy Loading -->{{ "lazysizes.min.js" | asset_url | script_tag }}<style>.lazyload,.lazyloading{opacity:0}.lazyloaded{opacity:1;transition:opacity .3s}</style>
    <meta name="facebook-domain-verification" content="lvh7zbf57r22jodl5rz7o5vejwql96" />

</head>
  <body class="{% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first }}">
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH7VWST"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    {% if settings.bg_image != blank and settings.bg_method contains 'full' %}<div id="ios_scroll"></div>{% endif %}
    <div class="bodywrap cf">
      {% section 'header' %}
      <div id="content">
        {{ content_for_layout }}
      </div>
      {% section 'footer' %}
    </div>
{{ '5bb117e831640.concat.min.js' | asset_url | script_tag }}
{% comment concat %} {{ 'vendor.js' | asset_url | script_tag }} {% endcomment %}
{% comment concat %} {{ 'theme.js' | asset_url | script_tag }}

  <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=myshopreview.myshopify.com"></script>

   {% endcomment %}
    {% include 'currencies' %}

<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
<script>if(Storage!==undefined){var defaultLink="/collections/all";{% if template contains 'collection' %}sessionStorage.collection="{{ collection.url }}";{% endif %}{% if template contains 'cart' %}if(!sessionStorage.collection){sessionStorage.collection=defaultLink;}document.getElementById("continue-shopping").href=sessionStorage.collection;{% endif %}}
</script>
    
<script>
  //------------------020------------------------
  $( document ).ready(function() {      
    if (window.matchMedia('(max-width: 1000px)').matches) {      
      $(document).on('click', '.search-box .plain', function(e){
        e.preventDefault();
        var s_val = $(this).parent().find('.snize-input-style').val();
        if ($(this).parent().find('.snize-input-style').val().replace(/^\s+|\s+$/g, "").length != 0){
          $(this).parent().submit();
        }else{        
          $(this).parent().find('.snize-input-style').val('').focus();        
        }      
      });      
    }
  });
</script>     

</body>
</html>
{{ 'custom.scss.css' | asset_url | stylesheet_tag }}